.news-teaser-container {
  position: relative;
  max-width: $max-width-content-desktop-large;

  @media (max-width: $display-xxxl) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .animation-background {
    position: absolute;
    left: -10%;
    right: 0;
    top: -10%;
    overflow: hidden;
    transform: scale(0.9);
    z-index: 0;

    @media (max-width: $display-m) {
      top: -100px;
      left: -60px;
    }

    @media (max-width: 420px) {
      top: -100px;
      left: -90px;
    }
  }

  .heading-text {
    position: relative;
  }

  .news-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: $-spacing-3;
    align-items: stretch; // This ensures all child cards stretch to the same height
    height: auto;
    justify-content: center;

    @media (max-width: $display-m) {
      gap: $-spacing-3;
    }
  }

  .button-wrapper {
    transition: transform 0.2s ease-in-out;
    z-index: 2;
  }

  .button-wrapper:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }
}
