.slug-resources-outer-container {
    color: $-grey-700;
    width: 100vw;
    max-width: 100%;

    .slug-resources-inner-container {
        border: solid $-grey-100 1px;
        margin: 2%;
        padding-top: 1.5%;
        padding-left: 0.8%;
        padding-right: 0.8%;
        width: 95%;


    }

    .pagination-buttons {

        .page-button {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: none;
            background: none;
            margin: 5px;
            color: #595959;
            cursor: pointer;
        }

        .active {
            background-color: $-orange-500;
            color: #FFF2EC;
        }

        .arrow-button {
            border: none;
            background: none;
            margin: 5px 5px 3px 5px;
            cursor: pointer;
        }


    }

    

}