extends baseEmail
block content

  p Someone reached out to you from the contact form on your website.
  p From #{name}
  p Email: #{contactEmail}
  p Message: #{message}
  
  p Om du behöver hjälp, tveka inte att höra av er!
  p - Admin
