extends baseEmail
block content

  p Hej #{firstName},
  p Har du glömt ditt lösenord? Inga problem! Klicka på knappen nedan och fyll i ditt nya lösenord. Länken är giltig i 10 minuter.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Återställ ditt lösenord
  p Om du inte har begärt lösenordsbyte, ignorera detta mail.
