@import './assets/colors.scss';
@import './assets/fonts.scss';

* {
    font-family: $-montserrat-normal;
}

body {
    background-color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
}

