@import '../../styles/scss/variables/layoutVariables.scss';

.people-card {
  width: 16rem;
  height: 100%;

  .image-wrapper {
    width: auto;
    height: 16rem;
    overflow: hidden;
    position: relative;
    object-fit: cover;
  }

  .text-wrapper {
    height: 10rem;
  }
}

.container-people-cards {
  max-width: $max-width-content-desktop-large;
}
