.container-cases {
  .renderer {
    margin-bottom: 5%;
  }

  .case {
    color: $-yellow-600;
    font-weight: 700;
    margin-bottom: 1%;
    margin-top: 5%;
  }

  .heading-1 {
    font-weight: 700;
    margin-top: 0;
  }

  .title-container {
    margin-left: 25%;
    margin-right: 25%;
  }
}
