.chapter-main {
  position: relative;
  overflow: hidden;

  .animation-background-left {
    left: 12%;
  }

  .hero-image-medium {
    width: 85%;
    max-width: 60rem;
    height: 20rem;
    overflow: hidden;
    position: relative;
    object-fit: cover;
  }

  .animation-background-right {
    right: 12%;
  }
}
