.hero-image-large {
  width: 100%;
  max-width: $max-width-content-desktop-large;
  height: 30rem;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

.news-slug-container {
  width: 100%;
  // max-width: $max-width-content-desktop-large;
}
