.news-slug-container {
  .news-header {
    @media (max-width: 768px) {
      .news-category {
        font-size: 1rem;
      }
    }

    @media (max-width: 575px) {
      .news-title {
        font-size: 1.5rem;
      }
    }

    .news-category,
    .news-title {
      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }

  .hero-image-container {
    height: auto;
    width: 100%;
    max-height: 600px;
    max-width: $display-xxl;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    justify-content: center;

    @media (max-width: 1450px) {
      margin-left: 1rem;
      margin-right: 1rem;
      width: calc(100% - 2rem);
    }

    .hero-image {
      width: 100%;
      height: auto;
      object-fit: cover;

      @media (max-width: 1200px) {
        max-height: 500px;
      }

      @media (max-width: 1000px) {
        max-height: 400px;
      }

      @media (max-width: 768px) {
        max-height: 300px;
      }

      @media (max-width: 575px) {
        max-height: 200px;
      }
    }
  }
}
