.slug-resources-outer-container {
  .category-title {
    margin-bottom: -1rem;
  }

  color: $-grey-700;
  max-width: $max-width-content-desktop-large;

  .slug-resources-inner-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1.8rem;
    padding: 2rem 0rem;
    justify-items: center;
  }

  .pagination-buttons {
    .page-button {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: none;
      background: none;
      margin: 5px;
      color: #595959;
      cursor: pointer;
    }

    .active {
      background-color: $-orange-500;
      color: #fff2ec;
    }

    .arrow-button {
      border: none;
      background: none;
      margin: 5px 5px 3px 5px;
      cursor: pointer;
    }
  }
}

.slug-news-outer-container {
  color: $-grey-700;
  max-width: $max-width-content-desktop-large;

  .news-categories-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 1250px) {
    max-width: 95%;
  }

  .slug-news-inner-container {
    margin-top: $-spacing-4;
    gap: 2rem;
    max-width: $max-width-content-desktop-medium;
    width: 100%;
  }

  .pagination-buttons {
    margin-top: 3rem;

    .page-button {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: none;
      background: none;
      margin: 5px;
      color: #595959;
      cursor: pointer;
    }

    .active {
      background-color: $-orange-500;
      color: #fff2ec;
    }

    .arrow-button {
      border: none;
      background: none;
      margin: 5px 5px 3px 5px;
      cursor: pointer;
    }
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5em 0.5em;
  cursor: pointer;
  user-select: none;
  background-color: $-orange-50;
  border: solid $-orange-500 2px;
  border-radius: 4px;
}

.checkbox-container input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  border-radius: 4px;
  position: relative;
  margin-right: 0.5em;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $-orange-100;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: $-orange-100;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: $-orange-100;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 5px;
    height: 10px;
    border: solid $-orange-500;
    border-width: 0 2px 2px 0;
  }
}

.cases-container {
  max-width: $max-width-content-desktop-large;
  padding-left: 1rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
  width: 100%;
}

.page-container {
  .page-hero {
    @media (max-width: 768px) {
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    @media (max-width: 638px) {
      .page-hero-buttons {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
