.outer-main-principle {
  max-width: $max-width-content-desktop-large;

  .main-container {
    position: relative;
    padding-bottom: 60px;
    max-width: 1600px;
    width: 100%;

    .title-image-container {
      position: relative;
      max-width: 100%;
      width: 100%;
      overflow: hidden;

      .left-absolute {
        position: absolute;
        left: -8%;
        width: auto;
        height: 100%;
        z-index: 1;

        @media (max-width: 968px) {
          display: none;
        }
      }

      .right-absolute {
        position: absolute;
        right: 0%;
        width: auto;
        height: 92%;
        z-index: 1;
      }

      .title-div {
        z-index: 2;
        padding-left: 15%;
        padding-right: 15%;
        color: $-grey-700;
        width: 100%;

        @media (max-width: 968px) {
          flex-wrap: wrap;
          justify-content: center;
          padding-left: 1rem;
          padding-right: 1rem;
        }

        .left-part {
          align-self: flex-start;
          padding: 15% 2% 0 0;

          @media (max-width: 968px) {
            padding: 3rem 0 0 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            h1 {
              margin-top: 0;
            }
          }

          .gray-color {
            color: $-grey-500;
          }
        }

        .right-part {
          width: 100%;
          max-width: 500px;
          margin-top: 4rem;

          .img-size {
            width: 100%;
            height: auto;
            max-width: 500px;
          }

          .quote-container {
            text-align: center;
            min-width: 365px;
            margin-bottom: 2rem;

            @media (max-width: 968px) {
              margin-top: -1rem;
            }

            .quote {
              border-radius: 62.988px;
              border: 3.178px solid var(--turquoise-turquoise-100, #e9f5f5);
              background: var(--grey-grey-0, #fff);
              position: relative;
              padding: 1% 5% 1% 5%;
              min-height: 66px;
              display: inline-flex;

              .quote-text {
                font-size: medium;
              }
            }

            .quote-author {
              font-size: small;
              padding: 1% 5% 1% 5%;
              border-radius: 62.988px;
              background: var(--turquoise-turquoise-200, #d3ebea);
              position: absolute;
              bottom: -32px;
              right: 26px;
              transform: translateX(-20%);
              transform: translateY(7%);
              width: auto;
              white-space: nowrap;
            }

            .quote-marks {
              position: absolute;
              top: -10px;
              left: 18px;
            }
          }
        }
      }
    }

    .image-container {
      position: absolute;
      width: 100%;
      z-index: 1;

      @media (max-width: 968px) {
        display: none;
      }

      .scroll-button {
        position: absolute;
        left: 48%;
      }
    }
  }

  .bottom-wave {
    z-index: 4;
  }

  .subprinciples {
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: 95%;

    @media (max-width: 968px) {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  }

  .principles-resources {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .navbar-principle-links {
    width: 100%;
    box-sizing: border-box;
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 5rem;
    z-index: 18;
    padding: 10px;

    @media (max-width: 810px) {
      top: 4rem;
    }
    .links {
      text-decoration: none;

      @media (max-width: 810px) {
        display: none;
      }
    }

    .numbers {
      font-size: large;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border: solid $-turquoise-800 1px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      text-decoration: none;
      margin: 5px;
      color: $-turquoise-800;
    }

    .image-arrows {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 810px) {
        display: none;
      }

      p {
        margin: 0;
        font-size: large;
        text-decoration: none;
        padding-left: 14px;
        padding-right: 14px;
        font-weight: 400;
      }

      .link-no-previous {
        color: #bdbdbd;
      }
    }

    .active-link {
      color: #fc7c37;
      background-color: #fff9eb;
      border-color: #fbbf34;
      text-decoration: none;
    }
  }
}
