.editor-wrapper {
  background: #ffffff;
  height: fit-content;
}

textarea:focus,
input:focus,
select:focus,
div[contenteditable='true']:focus {
  outline: none;
}

.popup-wrapper {
  display: inline;
  position: relative;
}
.popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 6px 10px;
  border: 1px solid #e1e5e9;
  height: fit-content;
  border-radius: 7px;
  z-index: 999;
}
button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
[data-slate-node='element'] {
  /* min-height: 500px; */
  width: 100%;
  margin: 0 0;
}

html {
  scroll-behavior: smooth;
}
