@import '../../styles/scss/variables/colorVariables.scss';
@import '../../styles/scss/variables/layoutVariables.scss';
@import '../../styles/scss/base/fonts.scss';

.chapter-teaser-container {
  max-width: $max-width-content-desktop-large;
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.chapter-teaser-section {
  padding-top: 3rem;
  gap: 0.8rem;
  max-width: 3000px;
  width: 100%;
  height: 100%;
  background-color: $-turquoise-50;

  .image-container {
    margin: 0 8rem;

    // Media query
    @media (max-width: $display-m) {
      margin: 0 6rem;
    }

    @media (max-width: $display-sm) {
      margin: 0 4rem;
    }

    @media (max-width: $display-s) {
      margin: 0 2rem;
    }
  }

  .text-container {
    // padding: 0 10rem 6rem 10rem;
    margin-bottom: 3rem;

    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: $-turquoise-700;
    }
  }
}

.country-card-container {
  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
