@import '../variables/color-variables.scss';
@import '../variables/layout-variables.scss';

.banner {

    transition: transform 0.2s ease-in-out;

    

    .icon-wrapper {
        transition: background-color 0.2s ease-in-out;
    }

    .primary-button {
        transition: background-color 0.2s ease-in-out
    }

    &:hover, &:focus {

        transform: scale(1.04);
        transition: transform 0.2s ease-in-out;

        .icon-wrapper {
            background-color: $-orange-200;
            transition: background-color 0.2s ease-in-out;
        }

        .primary-button {
            background-color: $-orange-200;
            transition: background-color 0.2s ease-in-out;
        }
    }
}
