/* footer.css */

@import '../variables/colors.scss';

/* Footer styles */

.footer {
    position: absolute;
    height: 25rem;
    width: 100%;
    bottom: 0;
    background-color: white;

    /* Flexbox */
    display: flex;
    justify-content: center;
}

.footer-body {
    position: absolute;
    height: 20rem;
    width: 100%;
    bottom: 0;
    background-color: $-grey-700;
    padding: 20px, 96px, 20px, 96px;
    color: $-grey-50;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
  
.footer-icon-and-social-platform {
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 3rem 3rem;
}
  
.footer-icon img {
    width: 100px;
    height: auto;
}

.footer-social-platform p {
    color: $-orange-500;
}
  
.social-platforms-icons {
    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 20px;
}

.social-platforms-icons a {
    border-radius: 50%; 
    background-color: $-turquoise-100;
    padding: 15px;
    color: $-grey-700;
}
  
.social-platforms {
    margin: 0 5px;
    text-decoration: none;
}

.footer-cookies-and-policy a {
    margin-right: 15px;
    text-decoration: none;
    color: $-grey-50;
}
  
.footer-menu-container {
    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.footer-menu-content {
    margin: 3rem 2.5rem 0 0;
}

.footer-menu-content p {
    color: $-orange-500;
}

.subitem-list ul {
    list-style: none;
    padding: 0;
}
  
.subitem-list li {
    margin-bottom: 8px;
}
  
.subitem-list a {
    text-decoration: none;
    transition: color 0.1s ease;
}
  
.subitem-list a:hover {
    color: $-grey-200;
}