@import '../variables/colors.scss';

.large-bullet-list-container {
    padding: 2rem 12rem 3rem 12rem;

    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 0;
        color: $-grey-700;
    }

    p {
        margin-top: 0.65rem;
        font-size: 0.8rem;
        color: $-grey-700;
    }

    .bullet-content {
        width: 100%;
        max-width: 45rem;
        height: auto;
        padding: 1rem;
        margin: 0.3rem 0;
        background-color: $-grey-25;
        border-radius: 0.5rem;

        /* flexbox */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        img {
            width: 0.9rem;
            height: auto;
            padding: 0.7rem;
            margin-right: 1rem;
            background-color: $-orange-100;
            border-radius: 50%;
        }

        p {
            font-size: 0.78rem;
            color: $-grey-700;
            line-height: 1.3rem;
            letter-spacing: 0.02rem;
        }
    }
}

