.news-teaser-container {

    .card-wrapper {
        transition: transform 0.2s ease-in-out;
    }
    .card-wrapper:hover, .card-wrapper:focus {
        transform: scale(1.05);
        transition: transform 0.2s ease-in-out;
    }

    .button-wrapper {
        transition: transform 0.2s ease-in-out;
    }

    .button-wrapper:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
    }

}
