@import '../variables/color-variables.scss';

.news-card {
    height: 28rem;
    width: 20rem;
    position: relative; 

    h3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    &:hover, &:focus {
       
        background-color: $-yellow-100;
        transition: background-color 0.2s ease-in-out;
        

        .sub-head-wrapper {
            background-color: $-yellow-200;
            transition: background-color 0.2s ease-in-out;
        }

        h3 {
            text-decoration: underline;
        } 

        .arrow-right-wrapper {
            .arrow-right {
                margin-right: 1rem;
                transition: margin-right 0.2s ease-in-out;
            }
        }
    }

    .arrow-right-wrapper {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0; 

        .arrow-right {
            margin-right: 2rem;
            transition: margin-right 0.2s ease-in-out;
        }
    }
}
