@import '../variables/color-variables.scss';

.principles-card {
    height: 9rem;
    width: 24rem;
    margin: 0.5rem;
    display: block;

    .text-overflow {

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    a {
        color: $-orange-500;
        text-decoration: none;
        border-bottom: 2px $-orange-500 solid;
    }

    .img-container {
        height: 100%;
        width: 40%;
        background-color: #FEF2D6;

        .img-size {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center
        }
    }

    .text-container {

        width: 60%;

        .arrow-text {
            margin-left: 10%;
            width: 80%;
            padding-top: 0;
            transition: margin-left, padding-top 0.2s ease-in-out;
        }

        .title-text {
            margin-left: 10%;
            width: 80%;
            height: 50%;
            overflow: hidden;
            margin-top: 5%;
            transition: margin-top, height, 0.2s ease-in-out;
        }
    }

    .arrow-right {
        margin-left: 0.5rem;
        transition: margin-left 0.2s ease-in-out;
    }

    &:hover,
    &:focus {
        background-color: $-yellow-100;
        transition: background-color 0.2s ease-in-out;

        .arrow-text {

            padding-top: 3%;
            transition: margin-left, padding-top 0.2s ease-in-out;
        }

        .arrow-right {
            margin-left: 1.7rem;
        }

        .text-overflow {
            -webkit-line-clamp: 3;
            overflow: visible;
            transition: overflow 0.2s ease-in-out;
        }

        .title-text {
            height: auto;
            max-height: 55%;
            min-height: 50%;
            transition: margin-top, height, margin-left 0.2s ease-in-out;
        }

    }

}