@import '../variables/color-variables.scss';

.text-and-media-container {

    .text-content {
        width: 40%;
        height: auto;
    
        h2 {
            color: $-orange-600;
        }

        h3 {
            color: $-orange-800;
        }
    
        p {
            color: $-grey-500;
        }
        
        .primary-button {
            margin-right: 0.45rem;
        }
    }
    
    .media-content {
        width: 60%;
        height: auto;
        margin: 0 3rem 0 3rem;
    
        img {
            height: auto;
            max-width: 100%;
            border-radius: 24px;
        }
    }
}

