/* .editor-wrapper {
  background: #ffffff;
  height: fit-content;
  min-width: 100%;
}

textarea:focus,
input:focus,
select:focus,
div[contenteditable='true']:focus {
  outline: none;
}

.popup-wrapper {
  display: inline;
  position: relative;
}
.popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 6px 10px;
  border: 1px solid #e1e5e9;
  height: fit-content;
  border-radius: 7px;
  z-index: 999;
}
button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
[data-slate-node='element'] {
   min-height: 500px;
   width: 100%;
  margin: 0 0;
}

html {
  scroll-behavior: smooth;
} */

/* blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
} */

.btnActive {
  opacity: 1;
}
.editor-wrapper {
  font-family: 'Helvetica', 'Arial', sans-serif;
  border-radius: 10px;
  background: #ffffff;
  min-height: 400px;
  min-width: 100%;
  width: fit-content;
  height: fit-content;
  padding: 12px 10px;
}

.popup-wrapper {
  display: inline;
  position: relative;
}
.popup {
  position: absolute;
  left: 0;
  background-color: white;
  padding: 6px 10px;
  border: 1px solid lightgray;
  height: fit-content;
  z-index: 1;
}
button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

[data-slate-node='element'] {
  margin: 10px 0;
}
html {
  scroll-behavior: smooth;
}

textarea:focus,
input:focus,
select:focus,
div[contenteditable='true']:focus {
  outline: none;
}
