.editor-wrapper {
  background: #ffffff;
  min-width: 100%;
  width: fit-content;
  height: fit-content;
}

textarea:focus,
input:focus,
select:focus,
div[contenteditable='true']:focus {
  outline: none;
}
table {
  width: 100%;
}
td {
  padding: 0 5px;
}
.popup-wrapper {
  display: inline;
  position: relative;
}
.popup {
  position: absolute;
  left: 0;
  background-color: white;
  padding: 6px 10px;
  border: 1px solid lightgray;
  height: fit-content;
  z-index: 1;
}
button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
[data-slate-node='element'] {
  margin: 0 0;
}
html {
  scroll-behavior: smooth;
}
