@import '../../styles/scss/variables/colorVariables.scss';
@import '../../styles/scss/variables/layoutVariables.scss';

.navbar-background {
  background-color: $-background-color;
  max-width: $max-width-desktop-large;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  position: sticky;
  z-index: $-z-index-navbar;
}

@media (max-width: 810px) {
  .navbar-background {
    display: none;
  }
}

.navbar {
  background-color: $-background-color;
  margin-bottom: 0;
  width: 100%;
  height: 3rem;
  max-width: $max-width-content-desktop-large;

  min .secondary-button {
    scale: 1.05;

    &:hover {
      scale: 1.1;
    }
  }

  @media (max-width: 1600px) {
    .navbar-icon {
      margin-left: 1rem;
    }
  }

  .progressbar-container {
    width: 100%;
    height: 2px;
    position: relative;
  }

  .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $-orange-500;
    transition: width 600ms ease;

    &-active {
      width: 100%;
    }

    &-deactive {
      width: 0%;
    }
  }
}

.dropdown-container {
  width: 17rem;
  margin-top: -0.2rem;
  position: absolute;
  transform: translateX(-25%);
  z-index: $-z-index-nav-dropdown-container;

  .dropdown-item {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: auto;

    .icon-wrapper {
      transition: margin-right 400ms ease-in-out;

      .fa-icon {
        transition: opacity 400ms ease-in-out;
      }
    }

    &:hover {
      background-color: $-yellow-400;
    }
  }
}
