@import '../../styles/scss/variables/colorVariables.scss';
@import '../../styles/scss/variables/layoutVariables.scss';

.case-card-container {
  background-color: $-grey-25;
  max-width: $max-width-content-desktop-large;
  width: 100%;
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  border: 2px solid transparent;
  transition: background-color 0.2s ease-in-out;
  min-height: 140px;
  height: 100%;
  border-radius: 8px;

  @media (max-width: $display-sm) {
    align-items: flex-start;
  }

  .img-div {
    background-color: $-grey-50;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    transition: background-color 0.2s ease-in-out;
    max-width: 140px;
    min-height: 140px;
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    .case-img {
      max-height: 100px;
      max-width: 100px;
      width: 100%;
    }
  }

  .case-card-right {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

    @media (max-width: $display-sm) {
      flex-direction: column;
      align-items: flex-start;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }

    .link-container {
      margin-left: auto;
      margin-right: 4rem;

      @media (max-width: $display-sm) {
        margin-right: 0;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .text-div {
      margin-bottom: 5px;
      margin-top: 5px;
      margin-left: 5px;
      margin-right: auto;
      display: flex;
      flex-flow: column;
      width: 55%;
      padding-left: 3%;
      margin-right: 5%;
      min-width: 250px;

      @media (max-width: $display-sm) {
        width: 100%;
        padding-left: 0;
        margin-right: 0;
      }

      h3 {
        font-weight: 650;
        margin-top: 0;
        margin-bottom: 4px;
        letter-spacing: -0.03rem;
        margin-bottom: 1%;

        @media (max-width: $display-sm) {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;
        }
      }

      .quote-div {
        display: flex;
        flex-flow: row;

        .quote {
          font-size: small;
          max-height: 100px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin-top: 0;
          margin-bottom: 0;
          overflow: hidden;
          line-height: 1.2;
          font-weight: 500;
          -webkit-line-clamp: 3;
        }

        .quote-marks {
          margin-right: 4px;
          width: 23px;
          height: 17px;
          min-width: 23px;

          @media (max-width: $display-sm) {
            height: 12px;
          }
        }
      }
    }
  }

  .link-div {
    width: auto;
    text-decoration: none;
    border-bottom: 1.5px $-orange-500 solid;
    display: flex;
    flex-flow: row;
    justify-content: center;

    .text-link {
      display: block;
      font-weight: 600;
      color: $-orange-500;
      margin: 0 7px 2px 0;
      white-space: nowrap;
    }

    .img-link {
      margin-top: 5px;
    }
  }

  &:hover,
  &:focus {
    background-color: $-orange-100;
    transition: background-color 0.2s ease-in-out;
    border: solid 2px $-orange-500;

    .img-div {
      transition: background-color 0.2s ease-in-out;
      background-color: $-orange-100;
    }

    .quote-marks path {
      fill: $-orange-300;
    }

    .link-div {
      margin: 3% -10% 3% 10%;
      transition: margin 0.2s ease-in-out;
    }
  }
}
