@import '../../styles/scss/variables/colorVariables.scss';

.principles {
  h4 {
    text-transform: uppercase;
  }
  .principles-container {
    align-items: stretch;
    height: auto;
  }
}

@media (min-width: 1300px) {
  .principles {
    .principles-container {
      width: 90vw;
    }
  }
}
