/* Montserrat - Black */

// Variable for Montserrat Fonts
$-montserrat-normal: 'Montserrat-VariableFont-wght';



@font-face {
    font-family: 'Montserrat-VariableFont-wght';
    src: url('../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}