.resources-outer-container {
  // color: $-grey-700;
  // width: 100vw;
  // display: flex;
  // justify-content: center;
  max-width: $max-width-content-desktop-large;
  width: 100%;

  .resources-inner-container {
    // width: 100%;
    // justify-content: center;
    // align-items: center;
    // gap: 1.5rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1.8rem;
    padding: 2rem 0rem;
    justify-items: center;
  }

  .button {
    button {
      margin-left: -0.3rem;
      margin-right: -0.3rem;
    }
  }

  .link-browse {
    text-decoration: none;
  }

  .button-wrapper {
    margin: 2rem 0 2rem 0;

    transition: transform 0.2s ease-in-out;
  }

  .button-wrapper:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }
}
