// Colors

$-background-color: #FFF;

$-orange-50: #FFF2EC; 
$-orange-100: #FEE5D7; 
$-orange-200: #FECBAF; 
$-orange-300: #FDB087; 
$-orange-400: #FD965F; 
$-orange-500: #FC7C37; 
$-orange-600: #BD5D29; 
$-orange-700: #7E3E1C; 
$-orange-800: #3F1F0E; 
$-orange-900: #190C06; 

$-yellow-50: #FFF9EB; 
$-yellow-100: #FEF2D6; 
$-yellow-200: #FDE5AE; 
$-yellow-300: #FDD985; 
$-yellow-400: #FCCC5D; 
$-yellow-500: #FBBF34; 
$-yellow-600: #BC8F27; 
$-yellow-700: #7E601A; 
$-yellow-800: #3F300D; 
$-yellow-900: #191305; 

$-turquoise-50: #F4FBFA; 
$-turquoise-100: #E9F5F5; 
$-turquoise-200: #D3EBEA; 
$-turquoise-300: #BCE2E0; 
$-turquoise-400: #A6D8D5; 
$-turquoise-500: #90CECB; 
$-turquoise-600: #6C9B98; 
$-turquoise-700: #486766; 
$-turquoise-800: #243433; 
$-turquoise-900: #0E1514; 

$-grey-25: #FAFAFA;
$-grey-50: #EFEFEF; 
$-grey-100: #DEDEDE; 
$-grey-200: #BDBDBD; 
$-grey-300: #9B9B9B; 
$-grey-400: #7A7A7A; 
$-grey-500: #595959; 
$-grey-600: #434343; 
$-grey-700: #2D2D2D; 
$-grey-800: #161616; 
$-grey-900: #090909; 

$-purple-50: #F5F2FC; 
$-purple-100: #E9E3F8; 
$-purple-200: #D3C7F2; 
$-purple-300: #BDACEB; 
$-purple-400: #A790E5; 
$-purple-500: #9174DE; 
$-purple-600: #6D57A7; 
$-purple-700: #493A6F; 
$-purple-800: #241D38; 
$-purple-900: #0F0C16; 