// Spacing
$-spacing-1: 0.25rem; // 4px (xxxs)
$-spacing-2: 0.5rem; // 8px (xxs)
$-spacing: 1rem; // 16px (xs)
$-spacing-3: 1.5rem; // 24px (s)
$-spacing-4: 2rem; // 32px (m)
$-spacing-5: 2.5rem; // 40px (l)
$-spacing-6: 3rem; // 48px (xl)
$-spacing-7: 4rem; // 64px (xxl)
$-spacing-8: 5rem; // 80px (xxxl)

// Z-index
$-z-index-nav-dropdown-container: 21;
$-z-index-navbar: 20;
$-z-index-footer: 19;

$-z-index-header-background: -1;
$-z-index-animination-background: -2;
$-z-index-background: -3;

$display-xs: 375px;
$display-s: 575px;
$display-sm: 675px;
$display-m: 875px;
$display-l: 1025px;
$display-xl: 1200px;
$display-xxl: 1400px;
$display-xxxl: 1600px;

$max-width-desktop-large: 3000px;
$max-width-content-desktop-large: 1600px;
$max-width-content-desktop-medium: 1400px;
