@import '../variables/color-variables.scss';
@import '../variables/layout-variables.scss';

.banner {
    transition: transform 0.2s ease-in-out;

    p {
        margin: $-spacing-1 0 $-spacing-1 0;
        color: $-grey-500;
    }

    .icon-wrapper {
        shape-outside: circle();
        clip-path: circle();
        transition: all 0.2s ease-in-out;
    }

    .primary-button {
        transition: all 0.2s ease-in-out
    }

    svg {
        width: 3rem; // It's better to directly import svg-icons.jsx rather than importing from Awesome Fonts...
        height: 3rem;
        transition: scale 200ms ease-in-out;
    }

    &:hover, &:focus {

        transform: scale(1.04);
        transition: transform 0.2s ease-in-out;

        .icon-wrapper {

            background-color: $-orange-200;

            svg {
                scale: 1.5;
            }
        }

        .primary-button {
            background-color: $-orange-200;
            scale: 1.1;
            transition: all 0.2s ease-in-out;
        }
    }
}