.hero-container {
    display: flex;
    flex-flow: column;
    align-items: center;

    .text-div {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 20px;

        .title {
            font-size: larger;
            text-align: center;
            font-weight: 700;
            margin-bottom: 15px;
        }

        .preamble {
            font-size: medium;
            text-align: center;
            margin-bottom: 50px;
            color: $-grey-700;
            margin-left: 3%;
            margin-right: 3%;
        }

        .buttons-bottom {
            display: flex;
            flex-flow: column;
            align-items: center;

            .link {
                margin-bottom: 20px;
            }
        }
    }

    .video-div {
        position: relative;
         width: 90%;
        border-radius: 15px;
        
       
        .ball-1 {
            position:absolute;
            top: -60px;
            right: 5px;
            background-color: $-purple-500;
            width:10vw;
            height:10vw;
            border-radius: 50%;
            opacity: 90%;
            mix-blend-mode: darken;
        }

        .ball-2 { 
            position:absolute;
            top: -40px;
            right: 15px;
            background-color: $-turquoise-500;
            width:12vw;
            height:12vw;
            border-radius: 50%;
            opacity: 90%;
            mix-blend-mode: darken;
        }

        .ball-3 {
            position:absolute;
            top: -15px;
            right: 70px; 
            background-color: $-yellow-500;
            width:5vw;
            height:5vw;
            border-radius: 50%;
            opacity: 90%;}
            mix-blend-mode: darken;

        
    }

}