@import '../variables/color-variables.scss';

.principles {

    .principles-container {
        align-items: stretch;
        height: auto;

    }



}

@media (min-width: 1300px) {
    .principles {

        .principles-container {
            width: 90vw;

        }



    }

}