@import '../variables/color-variables.scss';

.principles {
    // .card-wrapper {
    //     //transition: transform 0.2s ease-in-out;

    // }

    // .card-wrapper:hover,
    // .card-wrapper:focus {
    //     // transform: scale(1.05);
    //     // transition: transform 0.2s ease-in-out;
    // }
    .principles-container {
        align-items: stretch;
        height: auto;
    }

    .hide-cards {
        display: none;
        /* This will hide the container and all its children */
    }

    .opacity-second-group {
        position: relative;
        z-index: 1;
    }

    .opacity-second-group::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        /* Adjust based on the desired fade effect */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.416), rgba(255, 255, 255, 1));
        z-index: 2;
    }

    .button-wrapper {
        padding-left: 2.5rem;
        transition: transform 0.2s ease-in-out;
    }

    .button-wrapper:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
    }

}