@import '../variables/color-variables.scss';

.text-and-media-container {

    gap: 4rem;

    .text-content {

        height: auto;
    
        p {
            color: $-grey-500;
            font-size: 1.1rem;
            line-height: 1.7rem;
            letter-spacing: 0.03rem;
            font-weight: 400;
        }

        a {
            color: $-orange-500;
        }
        
        .primary-button {
            margin-right: 0.45rem;
        }
    }
    
    .media-content {
        width: 50%;
        height: 25rem;
        max-width: 53rem;
        overflow: hidden;
        position: relative;
        object-fit: cover;
    }
}

