.video-player{
    width: 100%;
    
    border-radius: 16px;
    height:100%;
    transition: transform 0.2s ease-in-out;

    
    &:hover,
    &:focus {
        transform: scale(1.05);
        transition: transform 0.2s ease-in-out;

    }
}