@import '../../assets/colors.scss';

.primary-button {
    padding: 0.7rem 2rem;
    color: $-orange-700;
    background-color: $-orange-300;
    font-weight: bold;
    font-size: smaller;
    cursor: pointer;
    border: solid 3px $-orange-300;
    white-space: nowrap;
    clip-path: polygon(8% 0, 92% 0, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
}