@import '../../assets/colors.scss';

.primary-button {
    padding: 0.5rem 1.4rem;
    color: $-orange-700;
    background-color: $-orange-300;
    font-weight: bold;
    font-size: 0.6rem;
    cursor: pointer;
    border: solid 3px $-orange-300;
    white-space: nowrap;
    clip-path: polygon(6% 0, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0% 50%);
}