@import '../../assets/colors.scss';

.secondary-button   {
    /* Flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.secondary-button button {
    cursor: pointer;
    padding: 8px 20px;
    background-color: transparent;
    color: $-orange-500;
    border-top: 2px solid $-orange-100;
    border-bottom: 2px solid $-orange-100;
    border-left: white;
    border-right: white;
    /* Flexbox */
    display: flex;
    align-items: center;
}
