@import '../../styles/scss/variables/colorVariables.scss';
@import '../../styles/scss/variables/layoutVariables.scss';

.news-card {
  flex: 1;
  border-radius: 0.5rem;
  min-width: 400px;
  max-width: 600px;
  position: relative;
  min-height: 400px;
  margin-bottom: 1.5%;
  transition: transform 0.2s ease-in-out;
  background-color: $-yellow-50;

  &:hover,
  &:focus {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: $-yellow-100;

    .a-div {
      background-color: $-yellow-200;
      transition: background-color 0.2s ease-in-out;
    }

    .arrow-right {
      right: 6%;
      transition: right 0.2s ease-in-out;
    }

    .title-link {
      .title-div {
        color: $-orange-700;
        text-decoration: underline;
      }
    }
  }

  .title-link {
    text-decoration: none;
    overflow: hidden;
    min-height: 110px;
    .title-div {
      color: $-grey-700;
      max-width: 100%;
      // padding-bottom: 30px;
      min-height: 200px;
      line-height: 30px;
      font-weight: 600;
      margin-top: 10px;
    }
  }

  .sub-heading-div {
    text-decoration: none;
    background-color: $-yellow-100;

    h5 {
      padding: 5px;
      margin: 0;
      font-weight: 700;
      color: $-yellow-600;
    }
  }

  .arrow-right {
    padding: 5px;
    position: absolute;
    right: 12%;
    bottom: 6%;
    transition: right 0.2s ease-in-out;
  }

  .img-resource {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 270px;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
