/* Become a member form.css */

@import '../assets/colors.scss';

#become-member-form {
    z-index: 1;
    position: absolute;
    padding: 1rem 3rem;
    background-color: $-orange-50;
    height: 8rem;
    width: 60%;
    border-radius: 25px;

    /* Flexbox */
    display: flex;
    align-items: center;
    margin: 30% 0; // justera här för att få rätt position 
}

#become-member-form .star-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    color: $-orange-500;
    background-color: $-orange-100; 
    margin: 0 20px 0 0;

    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

#become-member-form h2, p {
    margin: 4px 0;
}