/* Wave.scss */

@import '../assets/colors.scss';
 
.wave {
    position: absolute;
    margin: 0.8rem 0;
    height: 4rem;
    width: 100%;
    text-align: center;
}

.wave::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: $-grey-700;
}

.wave::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: white;
    transform: translate(-4%, 40%);
    z-index: 1;
}