.clicked {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeInBackground 0.5s ease-out forwards;

  .modal {
    position: fixed;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 800px;
    min-width: 300px;
    z-index: 100999;

    animation: slideInFromBottomForm 0.5s ease-out forwards;

    .box {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: white;
      overflow-y: auto;
      max-height: 100vh;
    }

    .btn-exit-video {
      position: absolute;
      top: -2%;
      right: -2%;
      background-color: transparent;
      border: none;
      transform: scale(1);
      transition: transform 0.4s ease-in-out;
      z-index: 3;

      @media (max-width: 661px) {
        top: -1%;
        right: -3%;

        svg {
          width: 2.2rem;
          height: 2.2rem;
        }
      }

      &:hover,
      &:focus {
        transform: scale(1.1);
        transition: transform 0.4s ease-in-out;
        background-color: transparent;
      }
    }

    &.slide-out {
      animation: slideOutForm 0.5s ease-out forwards;
    }
  }

  &.clicked-exit {
    animation: fadeOutBackground 0.5s ease-in forwards;
  }
}

.popup-form-container {
  overflow: hidden;
  padding: 2rem 2rem;

  .error-input {
    border: solid red 2px !important;
  }

  .form-div {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .success-message {
      font-style: italic;
      font-size: x-small;
      background-color: $-turquoise-200;
      padding: 0 8px 0 8px;
      border-radius: 3px;
      color: $-turquoise-700;
      font-weight: 600;
      z-index: 4;
    }

    .verify-error {
      margin: 0;
      font-size: small;
      line-height: 130%;
      font-weight: 600;
      margin-bottom: -1rem;
      margin-top: 0.6rem;
    }

    form {
      width: 100%;
      max-width: 632px;

      .name-email-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;

        .left {
          min-width: 250px;
          height: 100%;
          flex: 1;
          display: flex;
          flex-direction: column;

          input {
            width: 100%;
            font-size: medium;
            font-weight: 600;
            border: solid $-grey-300 2px;
            border-radius: 2px;
            box-sizing: border-box;
            height: 2.6rem;
            padding-left: 1rem;
          }

          .error {
            margin: 0;
            font-size: small;
            padding-left: 1rem;
            text-align: left;
          }
        }

        .right {
          min-width: 250px;
          flex: 1;
          display: flex;
          flex-direction: column;
          // align-items: flex-start;

          input {
            box-sizing: border-box;
            width: 100%;
            font-size: medium;
            font-weight: 600;
            border: solid $-grey-300 2px;
            border-radius: 2px;
            height: 2.6rem;
            padding-left: 1rem;
          }

          .error {
            margin-top: 0rem;
            font-size: small;
            text-align: left;
            padding-left: 1rem;
            margin-bottom: -1rem;
          }
        }
      }

      .check-boxes {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        margin-bottom: 1.5rem;

        .div-top {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          input {
            width: auto;
            margin-right: 0.5rem;
          }

          label {
            text-align: left;
            width: calc(100% - 20px);
            font-size: medium;
          }
        }

        .div-bottom {
          display: flex;
          align-items: center;

          input {
            width: auto;
            margin-right: 0.5rem;
          }

          label {
            text-align: left;
            width: calc(100% - 20px);
            font-size: medium;
          }
        }
      }

      .linkedin {
        width: 100%;
        box-sizing: border-box;
        height: auto;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        margin-bottom: 0.4rem;
        margin-top: 1rem;

        input {
          box-sizing: border-box;
          width: 100%;
          font-size: medium;
          font-weight: 600;
          border: solid $-grey-300 2px;
          border-radius: 2px;
          height: 2.6rem;
          padding-left: 1rem;
        }

        .error {
          margin: 0;
          padding-left: 1rem;
          font-size: small;
          line-height: 230%;
        }
      }

      .text-area-div {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;

        textarea {
          width: 100%;
          height: 200px;
          font-size: medium;
          font-weight: 600;
          border: solid $-grey-300 2px;
          border-radius: 2px;
          padding: 1rem;
          box-sizing: border-box;
          resize: none;
        }

        .message-error {
          margin: 0;
          padding-left: 1rem;
          font-size: small;
        }
      }

      .no-vis {
        visibility: hidden;
      }

      .recaptcha-div {
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    h3 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-size: x-large;
      font-weight: 700;
    }

    .preamble {
      width: 90%;
      color: $-grey-500;
      font-weight: 500;
      font-size: medium;
      line-height: 150%;

      p {
        margin-bottom: -1rem;
        text-align: center;
      }
    }
  }
}

@media (max-width: 661px) {
  .popup-form-container {
    padding: 1rem 1rem;

    .form-div {
      h3 {
        margin-top: 0.2rem;
        margin-bottom: 0;
      }

      .preamble {
        margin-top: 0;
        margin-bottom: 1rem;

        p {
          text-align: center;
          font-size: 14px;
        }
      }

      form {
        .name-email-div {
          gap: 1rem;

          .left {
            min-width: 300px;
            width: 100%;

            input {
              box-sizing: border-box;
            }
          }

          .right {
            min-width: 300px;
            width: 100%;

            input {
              box-sizing: border-box;
            }
          }
        }

        .linkedin  {
          margin-top: 1rem;
        }

        .text-area-div {
          textarea {
            height: 150px;
            margin-top: 0.3rem;
          }
        }

        .check-boxes {
          .div-top {
            margin-top: 0.5rem;

            label {
              text-align: left;
              width: calc(100% - 20px);
              font-size: small;
            }
          }

          .div-bottom {
            input {
              margin-right: 0.5rem;
            }

            label {
              text-align: left;
              width: calc(100% - 20px);
              font-size: small;
            }
          }
        }
      }
    }
  }
}
