.popup-form-container {
  overflow: hidden;
  padding: 2rem 2rem;

  .form-div {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .success-message {
      font-style: italic;
      font-size: x-small;
      background-color: $-turquoise-200;
      padding: 0 8px 0 8px;
      border-radius: 3px;
      color: $-turquoise-700;
      font-weight: 600;
      z-index: 4;
    }

    .verify-error {
      margin: 0;
      font-size: small;
      line-height: 130%;
      font-weight: 600;
      margin-bottom: 20px;
    }

    form {
      // width: 90%;
      width: 100%;
      max-width: 632px;

      .name-email-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: space-between;

        .left {
          min-width: 250px;
          // width: 40%;
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          input {
            width: 100%;
            font-size: medium;
            font-weight: 600;
            border: solid $-grey-300 1.7px;
            border-radius: 2px;
            box-sizing: border-box;
            height: 2.6rem;
            padding-left: 1rem;
          }

          .error {
            margin: 0;
            font-size: small;
            line-height: 230%;
          }
        }

        .right {
          min-width: 250px;
          flex: 1;
          // width: 44%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          input {
            box-sizing: border-box;
            width: 100%;
            font-size: medium;
            font-weight: 600;
            border: solid $-grey-300 1.7px;
            border-radius: 2px;
            height: 2.6rem;
            padding-left: 1rem;
          }

          .error {
            margin: 0;
            font-size: small;
            line-height: 230%;
          }
        }
      }

      .check-boxes {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        margin-bottom: 1.5rem;

        .div-top {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          input {
            width: auto;
            margin-right: 0.5rem;
          }

          label {
            text-align: left;
            width: calc(100% - 20px);
            font-size: medium;
          }
        }

        .div-bottom {
          display: flex;
          align-items: center;

          input {
            width: auto;
            margin-right: 0.5rem;
          }

          label {
            text-align: left;
            width: calc(100% - 20px);
            font-size: medium;
          }
        }
      }

      .linkedin {
        width: 100%;
        box-sizing: border-box;
        height: auto;
        display: flex;
        flex-flow: column;
        align-items: flex-start;

        input {
          width: 100%;
          height: 2.6rem;
          box-sizing: border-box;
          font-weight: bold;
          padding-left: 1rem;
        }

        .error {
          margin: 0;
          font-size: small;
          line-height: 230%;
        }
      }

      .text-area-div {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;

        textarea {
          width: 100%;
          height: 20vh;
          font-size: medium;
          font-weight: 600;
          // margin-bottom: 0;
          border: solid $-grey-300 1.7px;
          border-radius: 2px;
          padding: 1rem;
          box-sizing: border-box;
          resize: none;
        }

        .message-error {
          line-height: 180%;
          font-size: small;
        }
      }

      .no-vis {
        visibility: hidden;
      }

      .recaptcha-div {
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-top: 4%;
        margin-bottom: 4%;
      }
    }

    h3 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-size: x-large;
      font-weight: 700;
    }

    .preamble {
      width: 90%;
      color: $-grey-500;
      font-weight: 500;
      font-size: medium;
      line-height: 150%;
      margin-bottom: 2rem;
    }
  }
}
// }

@media (max-width: 661px) {
  .popup-form-container {
    padding: 1rem 1rem;

    .form-div {
      h3 {
        margin-top: 0.2rem;
      }

      .preamble {
        margin-top: 0;
        margin-bottom: 1rem;
      }

      form {
        .name-email-div {
          gap: 0rem;

          .left {
            min-width: 300px;
            width: 100%;

            input {
              box-sizing: border-box;
            }
          }

          .right {
            min-width: 300px;
            width: 100%;

            input {
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
