@import '../../styles/scss/variables/colorVariables.scss';

.country-card {
  margin: 0.7rem;
  width: 12rem;
  background-color: #fff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 2px solid $-turquoise-300;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  @media (max-width: $display-sm) {
    width: 9rem;
    height: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }

  h2 {
    color: $-grey-600;
  }

  img {
    margin-right: 0.7rem;
    transition: margin-right 0.3s ease;
  }

  &:hover {
    background-color: $-yellow-50;
    border: 2px solid $-orange-500;
    transition: background-color 0.3s, border 0.3s ease-in;

    img {
      margin-right: 0;
      transition: margin-right 1s ease;
    }
  }
}
