.toolbar {
  /* border-radius: 5px; */
  background: #ffffff;
  /* margin: 5% 0; */
  /* display: flex;
  flex-wrap: wrap;
  align-items: center; */

  /* padding: 10px 10px; */
  /* row-gap: 15px; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.toolbar-grp > * {
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  background: #fff;
}

.toolbar-grp > *:hover {
  background: #edeef1;
}

.toolbar-grp {
  margin: 5px 5px;
  display: flex;
  flex-direction: row;
  height: 100%;
  /* width: 100%; */
}

select {
  /* height: 30px; */
  border: none;
  width: 6.9rem;
}

.btnActive {
  background-color: #000;
  color: #fff;
}

.btnActive:hover {
  background-color: #000;
  color: #fff;
}
