@import '../../styles/scss/variables/colorVariables.scss';
@import '../../styles/scss/variables/layoutVariables.scss';

.banner {
  transition: transform 0.2s ease-in-out;
  max-width: 1168px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin: $-spacing-1 0 $-spacing-1 0;
    color: $-grey-500;
  }

  .icon-wrapper {
    shape-outside: circle();
    clip-path: circle();
    transition: all 0.2s ease-in-out;
    padding: 20px;

    svg {
      min-width: 2rem;
      min-height: 2rem;
      transition: scale 200ms ease-in-out;
    }
  }

  .banner-text-and-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .primary-button {
      transition: all 0.2s ease-in-out;
      background-color: $-orange-200;
      scale: 1.1;
      transition: all 0.2s ease-in-out;
    }
  }
  &:hover,
  &:focus {
    transform: scale(1.04);
    transition: transform 0.2s ease-in-out;

    .icon-wrapper {
      background-color: $-orange-200;
      transition: all 0.2s ease-in-out;

      svg {
        scale: 1.5;
      }
    }

    .primary-button {
      background-color: $-orange-200;
      scale: 1.1;
      transition: all 0.2s ease-in-out;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    margin: 10rem 1rem 0 1rem;
    padding: 2rem 1rem 2rem 1rem;

    .icon-wrapper {
      margin-bottom: auto;
      margin-top: 0;
      padding: 1.2rem;

      svg {
        min-width: 16px;
        min-height: 16px;
      }
    }

    .banner-text-and-button-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;

      .banner-text {
        margin: 0 0 0 0;

        .banner-title {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          text-align: left;
        }

        .banner-preamble {
          text-align: left;
        }
      }
      .banner-button {
        margin-top: $-spacing-3;
        margin-left: -5rem;
      }
    }
  }
}

@media (max-width: $display-xxl) {
  .banner {
    margin: 0 1rem 0 1rem;
  }
}
