@import '../../styles/scss/variables/colorVariables.scss';
@import '../../styles/scss/variables/layoutVariables.scss';

.banner {
  transition: transform 0.2s ease-in-out;
  max-width: $max-width-content-desktop-large;
  margin-left: auto;
  margin-right: auto;

  p {
    margin: $-spacing-1 0 $-spacing-1 0;
    color: $-grey-500;
  }

  .icon-wrapper {
    shape-outside: circle();
    clip-path: circle();
    transition: all 0.2s ease-in-out;
  }

  .primary-button {
    transition: all 0.2s ease-in-out;
  }

  svg {
    width: 3rem;
    height: 3rem;
    transition: scale 200ms ease-in-out;
  }

  &:hover,
  &:focus {
    transform: scale(1.04);
    transition: transform 0.2s ease-in-out;

    .icon-wrapper {
      background-color: $-orange-200;

      svg {
        scale: 1.5;
      }
    }

    .primary-button {
      background-color: $-orange-200;
      scale: 1.1;
      transition: all 0.2s ease-in-out;
    }
  }
}

.clicked {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeInBackground 0.5s ease-out forwards;

  .modal {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 95vh;
    animation: slideInFromBottomForm 0.5s ease-out forwards;

    .box {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: white;
    }

    .btn-exit-video {
      position: absolute;
      top: -2%;
      right: -2%;
      height: 1.8em;

      width: 1.8em;
      font-size: 1.1em;
      line-height: 1em;
      border-radius: 50%;
      background-color: #d4eae9;
      border: none;
      transform: scale(1);
      text-align: center;
      transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
      font-weight: 600;
      font-family: Courier 'Courier New';
      z-index: 3;

      &:hover,
      &:focus {
        transform: scale(1.1);
        transition: transform 0.4s ease-in-out;
        background-color: #b7f0ee;
      }
    }

    &.slide-out {
      animation: slideOutForm 0.5s ease-out forwards;
    }
  }

  &.clicked-exit {
    animation: fadeOutBackground 0.5s ease-in forwards;
  }
}

.not-clicked {
  display: none;
}

@media (min-width: 600px) {
  .clicked {
    .modal {
      width: 50%;
    }
  }
}
