@import '../../styles/scss/variables/colorVariables.scss';
@import '../../styles/scss/variables/layoutVariables.scss';

.text-media-background-bg-orange-50 {
  background-color: $-orange-50;
}

.text-media-background-bg-yellow-50 {
  background-color: $-yellow-50;
}

.text-and-media-container {
  display: flex;
  flex-direction: column-reverse;
  max-width: $max-width-content-desktop-large;
  width: 100%;
  gap: 2rem;
  margin-top: 1px;

  @media screen and (min-width: 1024px) {
    flex-direction: row;

    &.flex--reverse {
      flex-direction: row-reverse;
    }
  }

  .text-content {
    height: auto;
    max-width: 760px;

    .preamble {
      margin-top: 1rem;
      margin-bottom: 1rem;

      p {
        margin: 0;
      }
    }

    @media screen and (min-width: 1024px) {
      max-width: none;
    }

    p {
      color: $-grey-500;
      font-size: 1.125rem;
      line-height: 2rem;
      letter-spacing: 0.36px;
      font-weight: 400;
    }

    a {
      color: $-orange-500;
    }

    .primary-button {
      margin-right: 0.5rem;
    }
  }

  .media-content {
    flex: 0 0 40%;
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
      height: auto;
      min-height: 300px;
      object-fit: cover;
    }
  }
}
