$-spacing-1: 0.25rem; // 4px (xxxs)
$-spacing-2: 0.5rem; // 8px (xxs)
$-spacing: 1rem; // 16px (xs)
$-spacing-3: 1.5rem; // 24px (s)
$-spacing-4: 2rem; // 32px (m)
$-spacing-5: 2.5rem; // 40px (l)
$-spacing-6: 3rem; // 48px (xl)
$-spacing-7: 4rem; // 64px (xxl)
$-spacing-8: 5rem; // 80px (xxxl)